table {
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.emailLine {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* line-height: 2; */
}