.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.closeIconContainer {
  height: 20vh;
  min-height: 114px;
  width: 100%;
  padding-right: 2.5vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: blueviolet; */
}

.linkContainer {
  padding-left: 32px;
}

.link {
  cursor: pointer;
  padding: 8px 0;
  font-size: 24px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.link:hover {
  color: #ffe001;
}

.link.active {
  color: #ffe001;
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .closeIconContainer {
    height: 10vh;
    min-height: 57px;
  }
} 