.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.closeIconContainer {
  height: 20vh;
  min-height: 114px;
  width: 100%;
  padding-right: 2.5vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: blueviolet; */
}

.linkContainer {
  padding-left: 32px;
}

.link {
  cursor: pointer;
  /* padding: 8px 0; */
  margin: 16px 0;
  font-size: 24px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.5s;

  width: fit-content;

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.0);
}

.link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  transform: translateY(2px);
  font-weight: bold;
}
    
.link:hover,
.link:focus {
  outline: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/* .link:hover {
  color: #ffe001;
} */

.link.active {
  color: #ffe001;
  /* font-weight: bold; */
}

@media only screen and (max-width: 1023px) {
  .closeIconContainer {
    height: 10vh;
    min-height: 57px;
  }
} 