.container {
  /* min-height: 64px; */
  padding: 0 2.5vw;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: rgba(32, 65, 25, 0.7); */
}

.logo {
  width: 14vh;
  /* margin: 3vh 2.5vw; */
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.logo:hover {
  opacity: 0.75;
}

.menuIconCircle {
  height: 3rem;
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  /* background-color: #313131; */

  cursor: pointer;
  transition: all .25s ease;
}

.menuIconCircle:hover {
  background-color: #313131;
}

.menuIconCircle:hover .menuIcon {
  /* fill: #ffe001; */
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 10vh;
    /* margin: 1.5vh 2.5vw; */
  }
}