/* 
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
} */

* {
  font-family: Oxygen !important;
  color: white;
  box-sizing: border-box;
}

body, html {
  font-family: 'Oxygen';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* box-sizing: border-box; */
}

body {
  /* height: 100vh;
  width: 100vw; */
}

.container {
  margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
  height: 70vh;
  width: 80vw;
  /* background-color: navy; */
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding-top: 5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 5vh; */

  /* background-color: #654311; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
}

h1 {
  font-size: calc(1.75em + (3 - 1.75) * ((100vw - 300px) / (1600 - 300)));
}

.title {
  color: white;
  padding-top: calc(2.5vh + (5 - 2.5) * ((100vh) / (1000 - 600)));;
}

p {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(15px + (36 - 15) * ((100vh - 600px)/(1000 - 600))); 
}

.textLine {
  margin-bottom: 0;
  color: white;
  /* line-height: 1.5; */
}

button {
  text-decoration: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    height: 80vh;
    width: 80vw;
    min-height: 512px;
    /* background-color: navy; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
    /* padding-top: 5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 5vh; */
  
    /* background-color: #654311; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
  }
} 
