.scrollbars {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #121212 !important;
}

.sideMenuContainer {
  height: 60vh;
  width: 15vw;
  /* position: fixed; */
  right: 0;
  top: 20vh;
  /* margin-top: 100vh; */
  position: sticky;
  float: right;

  display: none;
  justify-content: center;
  align-items: center;

  /* background-color: chartreuse; */
  text-align: center;
}

.sideMenuContainer li {
  cursor: pointer;
  font-size: 16px;
  display: block;
  padding: 9px 18px;
  margin: 10px;
  transform: scale(1.0);
  transition-duration: 0.3s;
}

.sideMenuContainer li:hover {
  background: rgba(255, 255, 255, 1);
  color: #000;
}

.sideMenuContainer li.active {
  font-weight: bold;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.sideMenuContainer li.active:hover {
  background: #ffe001;
  color: #000;
  text-decoration: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 1023px) {
  .scrollbars {
    height: calc(var(--vh, 1vh) * 100) !important;
  }
  .sideMenuContainer {
    height: calc(var(--vh, 1vh) * 60);
    top: calc(var(--vh, 1vh) * 20);
  }
}

@media only screen and (min-width: 1024px) {
  .sideMenuContainer {
    display: flex;
  }
}