.logo {
  position: absolute;
  z-index: 999;
  width: 14vh;
  margin: 3vh 2.5vw;
}

.overlay {
  /* height: 100vh;
  width: 100vw;
  min-height: 640px; */
  height: 10vh;
  width: 100vw;
  min-height: 64px;

  margin-top: -10vh;
  padding-left: 2.5vw;

  z-index: 999;

  position: -webkit-sticky;
  position: sticky;
  /* bottom: 0; */
  top: 90vh;

  display: flex;
  align-items: center;

  /* background-color: rgba(32, 65, 25, 0.7); */
}

.social {
  margin-right: 1vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: blue; */
}

.socialIconCircle {
  height: 36px;
  width: 36px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #313131;

  transition: all .25s ease;
}

.socialIconCircle:hover {
  background-color: #ffe001;
}

.socialIconCircle:hover .socialIcon {
  fill: black;
}

.copyright {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 10vh;
    margin: 1.5vh 2.5vw;
  }
  .socialIconCircle {
    background-color: #414141;
  }
}

@media only screen and (max-height: 640px) {
  .overlay {
    margin-top: -64px;
  }
}