.logo {
  position: absolute;
  z-index: 999;
  width: 14vh;
  margin: 3vh 2.5vw;
}

/* #menu li {
  margin: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0);
}

#menu li.active {
  background: rgba(0, 0, 0, 0);
}

#menu li a {
  text-decoration: none;
  color: #fff;
  transform: scale(1.0);
  transition-duration: 0.3s;
}

#menu li a:hover {
  background: rgba(255, 255, 255, 1);
  color: #000;
}

#menu li.active a:hover {
  background: #ffe001;
  color: #000;
  text-decoration: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}

#menu li.active a {
  font-weight: bold;
  transition-duration: 0.3s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 70;
  width: auto;
  padding: 0;
  margin: 0 2% 0 0;
  text-align: center;
  display: none;
} */

.overlay {
  /* height: 100vh;
  width: 100vw;
  min-height: 640px; */
  height: 10vh;
  width: 100vw;
  min-height: 64px;

  margin-top: -10vh;
  padding-left: 2.5vw;

  z-index: 999;

  position: -webkit-sticky;
  position: sticky;
  /* bottom: 0; */
  top: 90vh;

  display: flex;
  align-items: center;

  /* background-color: rgba(32, 65, 25, 0.7); */
}

.social {
  margin-right: 1vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: blue; */
}

.socialIconCircle {
  height: 36px;
  width: 36px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #313131;

  transition: all .25s ease;
}

.socialIconCircle:hover {
  background-color: #ffe001;
}

.socialIconCircle:hover .socialIcon {
  fill: black;
}

.copyright {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 10vh;
    margin: 1.5vh 2.5vw;
  }
  .socialIconCircle {
    background-color: #414141;
  }
}

@media only screen and (max-height: 640px) {
  .overlay {
    margin-top: -64px;
  }
}