.sideMenuContainer {
  height: 70vh;
  width: 15vw;
  /* position: fixed; */
  right: 0;
  top: 20vh;
  /* margin-top: 100vh; */
  position: sticky;
  float: right;

  display: none;
  justify-content: center;
  align-items: center;

  /* background-color: chartreuse; */
}

@media only screen and (min-width: 1024px) {
  .sideMenuContainer {
    display: flex;
  }
}